<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
<head>

  <!-- Feathers API -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.1.4/core.min.js"></script>
  <script src="https://unpkg.com/feathers-client@^2.0.0/dist/feathers.js"></script>

  <script src="angular/angular.js"></script>
  <script src="assets/lib/jquery-2.1.3.min.js"></script>
  <script src="assets/lib/jquery.actual.min.js"></script>
  <script src="assets/lib/jquery.scrollTo.min.js"></script>

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


  <title>BarBeerDrinker Plus</title>

  <script src="assets/lib/jquery-2.1.3.min.js"></script>
  <script src="assets/lib/bootstrap.js"></script>
  <script src="assets/lib/jquery.actual.min.js"></script>
  <script src="assets/lib/jquery.scrollTo.min.js"></script>

  <!-- meta -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>

  <!-- google fonts -->
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,300' rel='stylesheet' type='text/css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:regular,bold"/>

  <!-- css -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/customCSS.css">
  <link rel="stylesheet" href="assets/css/style.css" media="screen"/>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="assets/js/html5shiv.js"></script>
  <script src="assets/lib/respond.js"></script>
  <![endif]-->

  <!--[if IE 8]>
  <script src="assets/lib/selectivizr.js"></script>
  <![endif]-->

  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
</head>

<body ng-app="friendsApp">
<header class="top-header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-5 col-sm-4 header-logo">
        <br>
        <a href="index.html">
          <h1 class="logo">BarBeerDrinker <span class="logo-head">Plus</span></h1>
        </a>
      </div>

      <div class="col-md-8 col-md-offset-1 col-xs-7">
        <nav class="navbar navbar-default">
          <div class="container-fluid nav-bar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-def" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="index.html"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                  <a href="dashboard.html"><i class="fa fa-tachometer"></i> Manager Dashboard</a>
                </li>
                <li>
                  <a href="friends.html"><i class="fa fa-users"></i> Network</a>
                </li>
                <li>
                  <a href="#account"><i class="fa fa-cog"></i> Account</a>
                </li>
              </ul>
            </div><!-- /navbar-collapse -->
          </div><!-- / .container-fluid -->
        </nav>
      </div>
    </div>
  </div>
</header>

<div id="wrapper">
  <div id="header" class="content-block">
    <section class="center">
      <h1 style="color:white;">Welcome to your Network, please select your Name and ID</h1>
      <div id="friendsList">
        <select class="allFriends" name="friends[]" value="Select your Name and ID" ng-controller="drinkersList" style="width:35%">
            <option>Pick your Name and ID</option>
            <option ng-repeat="x in drinkersList" value="{{x.id}},{{x.city}},{{x.name}}">{{x.name}} - {{x.id}}</option>
        </select>
      </div>
    </section>
  </div>
  <div class="content-block" id="followingResults" ng-controller="friendsList">
    <section class="center" ng-if="networkSize > 0">
      <h1 style="margin:auto;text-align:center;">We found {{networkSize}} people in your network! See what they've been up to.</h1><br><br>
    </section>
    <div class="row" ng-if="networkSize > 0">
      <div class="col-lg-4" style="padding-left:-10px;text-align:center;"><h2>Submitted Ratings</h2></div>
      <div class="col-lg-4" style="text-align:center;"><h2>Last Check-in</h2></div>
      <div class="col-lg-4" style="text-align:center;"><h2>Nearby People</h2></div>
    </div>
    <div class="row" style="max-height:500px;overflow:scroll;margin: auto;">
      <div class="col-lg-4" style="padding-left:-10px;" id="followingRatingsList">
        <div ng-repeat="x in followingList">
          <div style="height:125px;">
            <h3 class="followingBarsList">{{x.followingName}}</h3>
            <h4 class="followingBarsList">Left at rating for: {{x.barName}}</h4>
            <br>
            <div class="star-rating" title="{{x.rating}}%">
              <div class="back-stars">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <div class="front-stars" style="width: {{x.rating}}%">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
            <br>
            <br>
          </div>
          <div style="width: 100%; height: 3px; background: #2b3e51; overflow: hidden; margin: -10px auto" ></div>
          <br><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div ng-repeat="x in followingCheckinList">
          <div style="height:125px;">
            <h4 class="followingBarsList">&nbsp;</h4>
            <h4 class="followingBarsList">Checked in at: {{x.barName}}</h4>
            <h4 class="followingBarsList">On: {{x.checkedInAtDate}}</h4>
            <h4 class="followingBarsList">At: {{x.checkedInAtTime}}</h4>
            <br>
          </div>
          <div style="width: 100%; height: 3px; background: #2b3e51; overflow: hidden; margin: -10px auto"  ></div>
          <br><br>
        </div>
      </div>
      <div class="col-lg-4">
        <div ng-repeat="x in nearbyPeople">
          <h4 class="followingBarsList">{{x.name}}, {{x.age}}</h4>
          <h5 class="followingBarsList" ng-if="x.gender == 1">Male</h5>
          <h5 class="followingBarsList" ng-if="x.gender == 0">Female</h5>
          <button type = "button" ng-click="followClick(x.id,x.name)" id ="drinker{{x.id}}" class = "btn btn-primary" style="float:right;margin-top:-8%;margin-right:10%;"><i class="fa fa-plus fa-inverse" aria-hidden="true" ></i>Follow</button>
          <br>
        </div>
      </div>
    </div>

  </div>
</div><!--/#wrapper-->

<script src="assets/lib/contact.js"></script>
<script src="assets/lib/script.js"></script>
<script src="assets/lib/smoothscroll.js"></script>
<script src="assets/js/index.js"></script>
<script src="assets/js/barList.js"></script>
<script src="assets/js/friends.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function($){
    $(window).scroll(function() {
      if ($(window).scrollTop() > 100 ){
        $('.top-header').addClass('shows');
      } else {
        $('.top-header').removeClass('shows');
      };
    });
  });
  jQuery('.scroll').on('click', function(e){
    e.preventDefault()
    jQuery('html, body').animate({
      scrollTop : jQuery(this.hash).offset().top
    }, 1500);
  });
</script>
</body>
</html>
